// Colors
$grey: #333333;
$white: #eee;
// Navigation colors
$nav-background: $grey;
$menu-text: $white;
//Clock variables
$clock-text-color: white;
$clock-bg-color: #D84315;
$clock-border-color: #37474F;
